<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Change Password</title>
	<style>
        p {color:red}
	</style>
</head>
<body>

<div th:replace="~{fragments/menu :: menu}"></div>

<form th:method="patch" th:action="@{/profile/password}" th:object="${passwordUpdateDTO}">
	<input type="hidden" th:field="*{id}">
	<label for="old_password">Enter old password: </label>
	<input id="old_password" type="password" th:field="*{oldPassword}">
	<br>
	<p th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}" ></p><br>
	<label for="new_password">Enter new password: </label>
	<input id="new_password" type="password" th:field="*{newPassword}">
	<br>
	<p th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" ></p><br>
	<label for="confirm_password">Confirm password: </label>
	<input id="confirm_password" type="password" th:field="*{confirmPassword}">
	<br>
	<input type="submit" value="Edit">
</form>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>